<%- include('./components/header.ejs')   %>

<% 
console.log(result);
if (result){  %>

    <div class="card">
        <div class="card-header">
          Message
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= result.name %></h5>
          <p class="card-text"><%= result.message %></p>
          <a href="/feed/edit/<%= result._id %>" class="btn btn-primary">Edit Message</a>
          <a href="/feed/delete-message/<%= result._id %>" class="btn btn-secondary">Delete Message</a>
        </div>
      </div>
    
  

    <%
 } else{%>

    there is no record
    <%
 }%>
















<%- include('./components/footer.ejs')   %>